<form action="results">
  <div>
    <label for="alpha">APR</label>
    <input id="alpha" name="user_apr" type="float" placeholder="E.g. 1.5"></input>
  </div>
  <div>
    <label for="beta">Number of years</label>
    <input id="beta" name="user_years" type="integer" placeholder="How many years to repay?"></input>
  </div>
  <div>
    <label for="gamma">Principal</label>
    <input id="gamma" name="user_pv" type="integer" placeholder="How much principal?"></input>
  </div>
  <div>
    <button>Calculate monthly payment</button>
  </div>
</form>
