<form action="results">
  <div>
    <label for="alpha">Minimum</label>
    <input id="alpha" name="user_min" type="float" placeholder="E.g. 1.5"></input>
  </div>
  <div>
    <label for="beta">Maximum</label>
    <input id="beta" name="user_max" type="float" placeholder="E.g. 4.5"></input>
  </div>
  <div>
    <button>Pick random number</button>
  </div>
</form>
