<h1>Random Results</h1>
<p>
  <div>
    Minimum
  </div>
  <div>
    <%= @number_min%>
  </div>
  <div>
    Maximum
  </div>
  <div>
    <%= @number_max%>
  </div>
  <div>
    Random Number
  </div>
  <div>
    <%= @number_random%>
  </div>
</p>

<a href="/random/new">Pick another random number</a>
