<h1>Square Root Results</h1>
<p>
  <div>
    Number
  </div>
  <div>
    <%= @number_input%>
  </div>
  <div>
    Square Root
  </div>
  <div>
    <%= @number_rooted%>
  </div>
</p>

<a href="/square_root/new">Calculate another square root</a>
