<form action="results">
  <div>
    <label for="alpha">Enter a number</label>
    <input id="alpha" name="user_number" type="float" placeholder="What number do you want to choose?"></input>
  </div>
  <div>
    <button>Calculate square root</button>
  </div>
</form>
